html {
  scroll-behavior: smooth;
}
body { 
    font-family: 'Poppins', sans-serif; 
}
.hoverEffect{
    transition: all 0.3s ease-in-out;
}
/* Floating product */
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-14px); }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}

/* Fade up text */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeUp {
  animation: fadeUp 0.8s ease forwards;
}

.delay-150 { animation-delay: .15s; }
.delay-300 { animation-delay: .3s; }
.delay-500 { animation-delay: .5s; }

/* Gradient motion */
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 12s ease infinite;
}
/* nav-text animation */
.nav-text::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: rgba(255, 254, 254, 0.918);
    transition: width 0.3s ease;
}
.nav-text:hover::after{
    width: 100%;
    height: 1px;
}

/* REVEAL Zoom  ANIMATION */
.z-reveal {
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.10s ease-in-out;
}

.z-reveal.active {
  opacity: 1;
  transform: scale(1);
}
/* ================== Benefits ======================  */

/* CARD */
.benefit-card {
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(12px);
  border-radius: 22px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.06);
  transition: all 0.4s ease;
  overflow: hidden;

}

.benefit-card h3 {
  font-size: 1.7rem;
  font-weight: 600;
  color: #044d1f;
  margin-bottom: 8px;
}

.benefit-card p {
  font-size: 0.95rem;
  color: #55585e;
  line-height: 1.5;
}

/* REVEAL ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.delay-200 { transition-delay: .2s; }
.delay-400 { transition-delay: .4s; }
/* ==================== incredeints ============== */

.ingredient-item {
  position: absolute;
  width: 120px;
  text-align: center;
  transition: all 0.4s ease;
}

.ingredient-item img {
  width: 80px;
  height: 80px;
  border-radius: 999px;
  border: 2px solid #22c55e;
  padding: 6px;
  background: #fff;
  margin: 0 auto 6px;
  transition: transform 0.4s ease;
}

.ingredient-item p {
  font-size: 0.85rem;
  font-weight: 600;
}

.ingredient-item:hover img {
  transform: scale(1.15);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* Mobile fallback cards */
.mobile-ing {
  padding: 14px;
  border-radius: 14px;
  border: 1px solid rgba(34,197,94,0.3);
  text-align: center;
  font-weight: 600;
}

/* ============== how to use ========= */


.flow-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

/* Arrows */
.flow-arrow {
  font-size: 34px;
  color: #16a34a;
  animation: arrowX 1.5s infinite;
}
.flow-arrow-mobile {
  font-size: 30px;
  color: #16a34a;
  animation: arrowY 1.5s infinite;
}

/* Entry Animations */
.animate-fade-up {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp .8s ease forwards;
}
.animate-scale-up {
  opacity: 0;
  transform: scale(.9);
  animation: scaleUp .8s ease forwards;
}

.delay-150 { animation-delay: .15s; }
.delay-300 { animation-delay: .3s; }
.delay-500 { animation-delay: .5s; }
.delay-700 { animation-delay: .7s; }

@keyframes fadeUp {
  to { opacity: 1; transform: translateY(0); }
}
@keyframes scaleUp {
  to { opacity: 1; transform: scale(1); }
}
@keyframes arrowX {
  0% { transform: translateX(0); opacity:.4 }
  50% { transform: translateX(10px); opacity:1 }
  100% { transform: translateX(0); opacity:.4 }
}
@keyframes arrowY {
  0% { transform: translateY(0); opacity:.4 }
  50% { transform: translateY(10px); opacity:1 }
  100% { transform: translateY(0); opacity:.4 }
}

/*============  product Css ==================== */

.image-slider-wrapper {
  width: 100%;
  height: 380px;
  overflow: hidden;
  border-radius: 16px;
}

.image-slider {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

.image-slider img {
  min-width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Thumbs */
.thumb {
  width: 64px;
  height: 64px;
  object-fit: contain;
  cursor: pointer;
  opacity: 0.5;
  border-radius: 8px;
}

.thumb.active-thumb {
  opacity: 1;
  border: 2px solid #046b43;
}


/* ZOOM MODAL BACKDROP */
.zoom-modal {
  position: fixed;
  inset: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  padding: 10px;
}

/* ACTIVE STATE */
.zoom-modal.active {
  opacity: 1;
  pointer-events: auto;
}

/* ZOOM IMAGE */
.zoom-modal img {
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

/* SCALE IN */
.zoom-modal.active img {
  transform: scale(1);
}

/* CLOSE BUTTON */
.zoom-close {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1;
}


/* ============ FAQ Css ==================== */
/* FAQ Card */
.faq-item {
  background: #ffffff;
  border-radius: 16px;
  border: 1px solid rgba(22, 101, 52, 0.15);
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}
.faq-item:hover {
  box-shadow: 0 12px 30px rgba(22, 101, 52, 0.12);
}

/* Question Button */
.faq-question {
  width: 100%;
  padding: 20px 24px;
  text-align: left;
  font-size: 1.05rem;
  font-weight: 600;
  color: #14532d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Icon */
.faq-icon {
  font-size: 22px;
  color: #16a34a;
  transition: all 0.3s ease-in-out;
}

/* Answer */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 24px;
  transition: all 0.2s ease-in-out;
  color: #374151;
  line-height: 1.6;
}

/* Active State */
.faq-item.active .faq-answer {
  max-height: 400px;
  padding: 0 24px 20px;
  transition: all 0.2 ease-in-out;
}

.faq-item.active .faq-icon {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}


/* ============= Testimonia section css ==================*/

.testimonial-row {
  overflow:hidden;
  width: 100%;
}

.testimonial-track {
  display: flex;
  gap: 24px;
  width: max-content;
}

/* cards  */
.testimonial-card {
  max-width: 320px;
  height: 300px;
  max-height: 300px;
  background: white;
  padding: 28px;
  border-radius: 20px;
  border: 1px solid rgba(22, 101, 52, 0.15);
  box-shadow: 0 10px 25px rgba(22, 101, 52, 0.08);
  transition: all 0.4s ease;
}

.testimonial-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(22, 101, 52, 0.18);
}

/* Animations */
.move-right .testimonial-track {
  animation: scrollRight 25s linear infinite;
}

.move-left .testimonial-track {
  animation: scrollLeft 27s linear infinite;
}

@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.testimonial-track:hover {
  animation-play-state: paused;
}
.testimonial-track {
  will-change: transform;
}

/* checkout page css  */

.checkout-input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 12px;
  border: 1px solid rgba(22,101,52,.3);
  outline: none;
}

.checkout-input:focus {
  border-color: #16a34a;
  box-shadow: 0 0 0 3px rgba(22,163,74,.2);
}

.qty-btn {
  padding: 8px 16px;
  transition: .3s;
}

.qty-btn:hover {
  background: #166534;
  color: white;
}

.payment-btn {
  flex: 1;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid #166534;
  transition: .3s;
}

.payment-btn.active {
  background: #166534;
  color: white;
}

#top,#home {
  overflow-x: auto;
  scroll-behavior: smooth;
}

/* back to top css  */

#backToTop {
  opacity: 0;
}

#backToTop:not(.hidden) {
  opacity: 1;
}
@media (max-width: 768px) {
  #backToTop {
    bottom: 90px;
  }
}